

.admin__Body {
    display: flex;
    justify-content: center;

    & .product__table {
        width: 80%;
        margin-right: 10px;
        border: none;
        background: none;
        padding: 10px;
        border-radius: 10px;
        text-align: center;

        & button {
            margin: 0 40px;
            font-size: 20px;
            color: #fff !important;
            border: 1px solid white;
            border-radius: 10px;
            background: none;

            &:hover {
                color: #fff;
                border: 2px solid white;
                
            }
        }

        & .tablePhone {
            border-radius: 10px;
            background-color: #0000;
        }
    }
}

//PRODUCT INFOR TABLE
#tbodyPhone {
    tr {
        th {
            border: 2px dotted #ffffff;
            text-align: center;
            font-size: 20px;
            font-weight: 200;
        }
    }
}

.theaderPhone {
    th {
        text-align: center;
        font-size: 20px;
    }
}

// ADD PRODUCT FORM

#exampleModal {
    display: none;
    position: absolute;
}